@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Hand:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Savate:ital,wght@0,200..900;1,200..900&display=swap');
                
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
                                                
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #000000;
    color: white;
}

/* navbar css settings start*/
.navbar-brand{
    transition: color 0.3s ease;
}

.navbar-brand:hover{
    color: #5d0516 !important;
    text-decoration: none !important;
}

#login{
    color: #f77051;
    background-color: #5d0516;
    transition: background-color 0.3s ease;
}

#login:hover{
    color: #5d0516;
    background-color:#f77051;
    transition: background-color 0.3s ease;
}

#title{
    filter: drop-shadow(-8px 12px 24px #5d0516);
}
/* navbar css settings end*/

/* Background and title content css start */
.background{
    background: url('./Assets/dc_cover_page.jpg') no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    box-shadow: 10px 10px 273px 0px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 10px 10px 273px 0px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 10px 10px 273px 0px rgba(0,0,0,0.75) inset;
    z-index: 1; 
}

.back-drop{
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    background: #100f0f;
    background: radial-gradient(circle farthest-corner at center center, #000000 0%, #000000 100%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, #000000 0%, #020202 100%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #000000 0%, #000000 100%);
    opacity: 0.6;
    z-index: -1;
}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    min-height: 79vh;  
}

.welcome h1{
    font-size: clamp(2rem, 5rem, 10rem);
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
}

.welcome button{
    color: #f77051;
    background-color: #5d0516;
    transition: background-color 0.3s ease;
}

.welcome button:hover{
    color: #5d0516;
    background-color:#f77051;
    transition: background-color 0.3s ease;
}
/* Background and title content css end */

/* Slider CSS start */
.content-layer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
}

.slide-container {
    position: relative;
    max-width: 100%;
    display: flex;
    align-items: center;
}

.right-slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    gap: 1rem;
    flex: 1;
    padding: 1rem 0;
}


.right-slider img {
    max-width: 12rem;
    height: 286px;
    object-fit: fill;
    border-radius: 10px;
    transition: transform 0.3s ease;
    flex-shrink: 0;
}

.right-slider img:hover {
    transform: scale(1.1);
}


.nav-btn {
    background-color: #00000048;
    min-height: 90%;
    border: none;
    color: white;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s;
    opacity: 0.7;
}

.nav-btn:hover {
    background-color:#f77051;
    color: #5d0516;
}

.left-btn {
    position: absolute;
    left: 0;
    bottom: 1rem;
    margin-right: 0.5rem;
    border-radius: 10px 0px 0px 11px;
}

.right-btn {
    position: absolute;
    right: 0;
    bottom: 1rem;
    margin-left: 0.5rem;
    border-radius: 10px 0px 0px 11px;
}
/* Slider CSS start */

/* Card css start */
.midcard{
        border-radius: 5%;
        transition: transform 0.3s ease;
        flex-shrink: 0;
        background: #5d0516;
        background: linear-gradient(315deg,#5d0516 0%, #f77051 80%);
        background: -webkit-linear-gradient(315deg,#5d0516 0%, #f77051 80%);
        background: -moz-linear-gradient(315deg,#5d0516 0%, #f77051 80%);
    }

.midcard:hover{
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    }
/* Card CSS end */

/* login page start*/
.sheet {
  background-color: #5d0517bb;
  border-radius: 16px;
}

form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-top: none !important; border-left: none !important; border-right: none !important;
  border-radius: 5px;
  background-color: transparent !important;
  color: transparent;
  font-size: 1rem;
}

.back-drop-log {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #100f0f;
  background: radial-gradient(
    circle farthest-corner at center center,
    #000000 0%,
    #000000 100%
  );
  background: -webkit-radial-gradient(
    circle farthest-corner at center center,
    #000000 0%,
    #020202 100%
  );
  background: -moz-radial-gradient(
    circle farthest-corner at center center,
    #000000 0%,
    #000000 100%
  );
  opacity: 0.6;
  z-index: -1;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    min-height: 79vh;  
}

.login-container h1{
    font-size: clamp(2rem, 5rem, 10rem);
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
}

.login-container button{
    padding: 1rem 5rem ;
    color: #5d0516;
    background-color:  #f77051;
    transition: background-color 0.3s ease;
}

.login-container button:hover{
    color: #f77051;
    background-color: #5d0516;
    transition: background-color 0.3s ease;
}
/* login page end */

/* Library CSS start */
#video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#video video { 
height: 50vh; 
max-height: 100%; 
box-shadow: -22px -143px 273px 0px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: -22px -143px 273px 0px rgba(0,0,0,0.75) inset;
-moz-box-shadow: -22px -143px 273px 0px rgba(0,0,0,0.75) inset;
}

#video video {
    width: 100%;
    height: 99%;
    object-fit: cover; /* optional: ensures the video covers the area */
    display: block;
}

.cap{
    display: flex ;
}
.dp{
    display: none;
}

.video-desktop,
.video-mobile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}



@media (max-width: 480px) {
    .dp{
        display: flex !important;
    }
    .cap{
        display: none !important;
        
    }
    }

/* For smaller screens */

@media (max-width: 768px) {
    .navbar-nav{
        display: flex;
        flex-direction: column;
    }

    .nav-btn {
        font-size: 1.5rem;
        padding: 0.3rem 0.7rem;
    }

    .right-slider img {
        max-width: 250px;
        height: 220px;
    }

    .top-banner img{
        min-height: 32rem;
    }
}
/* Library CSS end */

/* Overlay Cards CSS start */
.cardigo {
  position: fixed;
  top: 0; left: 0;
  max-width: 100% !important;
  height: 100vh;
  display: none; /* initially hidden */
  background: #00000060;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: display 5s ease-in;
}

.cardigo.show {
  display: flex;
  transition: transform 1s ease;
}

.mov-card {
  position: relative;
  width: 90%;
  max-width: 45rem;
  height: 90vh;
  background-color: #1c1c1c !important;
  overflow: scroll;
  scrollbar-width: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.mov-card .cross{
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-align: center;
    background-color: #f77051;
    color: #5d0516;
}

.mov-card .cross:hover {
    color: #f77051;
    background-color: #5d0516;
}

.mov-card .play-btn {
    padding: 10px 17px;
    font-size: 1.2rem;
    color: #f77051;
    background-color: none;
    border: #5d0516 3px solid;
}

.mov-card img {
    object-fit: cover;
    border-radius: 0%;
    scroll-snap-align: center;
    transition: transform 0.3s ease;
}

.mov-card .play-btn:hover {
    background-color: #f77051;
    color: #5d0516;
}

.mov-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;

}

.card-body {
    width: 100%;
    padding: 20px;
    background-color:  rgba(0, 0, 0, 0.911);
    border-radius: 0 0 10px 10px;
}

.play-list .play-last:hover {
    background-color: #f77051;
    color: #5d0516;
}

.card-title {
    font-size: 1.5rem;
    margin-top: 10px;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.dropdown-menu {
    background-color:#5d0516;
    color: #f77051;
} 

.dropdown-item{
    color: #f77051;
    background-color: #5d0516;
}

.dropdown-item:hover {
    background-color: #f77051;
    color: #5d0516;
}
/* Overlay Cards CSS end */